/* Style for the highlighted areas */
:root {
  --left-percentage: 60%;
  --very-pale-yellow: #ffebdc;
  --burnt-orange: #bf5700;
  --light-orange: #f8971f;
}

.split {
  z-index: 1;
  height: 80vh;
  overflow: auto;
}

.left {
  width: var(--left-percentage);

  left: 0;
}

.left img,
.left map {
  transform: scale(var(--slider-value, 0.3));
  transition: transform 0.3s ease;
}

.right {
  width: calc(100% - var(--left-percentage));
  right: 0;
  background-color: var(--very-pale-yellow);
  color: black;
}
.toprow {
  color: white;
  padding: 30px;
  background-color: var(--burnt-orange);
}

.map_container {
  display: flex;
  overflow: hidden;
}

img {
  max-width: none !important;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  background: white;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.radio-container {
  margin-top: 10px;
}
.highlighted {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.5); /* Semi-transparent red */
}
