/* Style for the highlighted areas */
:root {
  --left-percentage: 60%;
  --very-pale-yellow: #ffebdc;
  --burnt-orange: #bf5700;
  --light-orange: #f8971f;
  --map-zoom: 0.2;
}

.left {
  width: var(--left-percentage);
  position: relative;
  left: 0;
  overflow: auto;
  height: 80vh;
  overflow: auto;
}

.left img,
.left map {
  transform: scale(var(--map-zoom));
  transition: transform 0.3s ease;
  clear: both;
}

.right {
  width: calc(100% - var(--left-percentage));
  right: 0;
  background-color: var(--very-pale-yellow);
  color: black;
  position: relative;
  z-index: 1;
}

.map_container {
  display: flex;
  clear: both;
  position: relative;
  min-height: 115vh;
}

img {
  max-width: none !important;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  background: white;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.radio-container {
  margin-top: 10px;
}
.highlighted {
  /* Semi-transparent red */
  position: absolute;
  z-index: 2;
  clear: both;
}

#highlight1 {
  background-color: rgba(0, 0, 0, 0.5);
}

#highlight2 {
  background-color: rgba(50, 200, 50, 0.55);
}

.zoomAndCenterContainer {
  display: flex;
}

.recenterButtonDiv {
  margin-left: 40px;
  display: flex;
}

.zoomAndCenterContainer button {
  background-color: var(--light-orange);
  border: none;
  padding: 1px 15px;
  border-radius: 20px;
}

.zoomAndCenterContainer button:hover {
  background-color: white;
  color: black;
  transition: 0.3s ease;
}

.toprow {
  color: white;
  padding: 30px;
  background-color: var(--burnt-orange);
}

.right h1 {
  font-size: 20px;
}

.bottomrow {
  padding: 30px;
  display: inline-block;
}

input[type="radio"] {
  transform: scale(1.5);
  margin-right: 20px;
}

.bottom-mobile-responsiveness{
  display:none
}

#employerSelectionDropdown{
  max-width: 80%;
}


@media only screen and (max-width: 600px) {
  .left {
    width: 100%;
  }

  .right{
    /* display: none; */
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 50%;
    min-height: fit-content;
    /* height: 30vh; */
  }

  .bottom-mobile-responsiveness {
    display: none;
    /* height: 30vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #bf5700;
    width: 100% !important;
    padding: 20px;
    z-index: 20; */
  }

  .bottomrow{
    padding: 20px;
    display: block;
  }

}