:root {
  --charcoal: #35414a;
}

#frameHolder {
  position: relative;
  width: 90vw;
  height: calc(120pc + 50vw);

  margin-left: 5vw;
  /*margin-top: 5vw;*/

  background-color: var(--charcoal);

  border-width: 10px;
  border-color: black;
  border: solid;

  color: white;
}

#margin {
  width: 98%;
  margin-left: 1%;
}

#spotlight {
  position: absolute;
  width: 40%;
  right: max(30%, 200px);
}
#panelsDiv {
  padding-top: 40px;
}
